@font-face {
    font-family: lato;
    src: url(fonts/Lato-BlackItalic.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.50rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
}

.navbar a {
    font-size: 1.10rem;
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    margin-left: 1rem;

}

#check {
    display: none;
}

.icons {
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: -1;
}

.reg_btn1 {
    background-color: #4CAF4F;
    color: #fff;
    height: 30px;
    width: 100px;
    font-size: 0.9rem;
    border: none;
    border-radius: 2px;
}

/* content starts here */

.hero_section {
    height: 500px;
    width: 100%;
    padding: 66.82px 100.23px 66.82px 100.23px;
    gap: 72.39;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 170px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F5F7FA;
}

.reg_btn2 {
    background-color: #4CAF4F;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 0.9rem;
    margin-top: 30px;
    align-items: center;
    border: none;
    border-radius: 2px;
}

.first_text {
    font-size: 60px;
    color: #4D4D4D;
}

.second_text {
    font-size: 60px;
    font-size: 60px;
    color: #4CAF4F;
}

.clients {
    height: 135px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.clients img {
    width: 1000px;
}

.clients p {
    color: #717171;
}

.clients h1 {
    color: #4D4D4D;
}

.community {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: #fff;
    line-height: 2em;
    font-size: 20px;
}

.community p {
    color: #717171;
    text-align: center;
}

.community h1 {
    color: #4D4D4D;
    text-align: center;
}

.frames {
    height: 250px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 100.23;
    margin-right: 100.23;
}

.frame1 {
    display: flex;
    align-items: center;
    height: 220px;
    width: 208px;
    flex-direction: column;
    /* padding: 16.71px 22.27px 16.71px 22.27px; */
    gap: 5.57px;
    line-height: 1.2em;
}

.frame1 h1 {
    font-size: 30px;


}

.frame1 p {
    line-height: 0.8em;
    justify-content: center;
}

.frame2 {
    display: flex;
    align-items: center;
    height: 220px;
    width: 208px;
    flex-direction: column;
    /* padding: 16.71px 22.27px 16.71px 22.27px; */
    gap: 5.57px;
    line-height: 1.2em;
}

.frame2 h1 {
    font-size: 30px;


}

.frame2 p {
    line-height: 0.8em;
    justify-content: center;
}

.frame3 {
    display: flex;
    align-items: center;
    height: 220px;
    width: 208px;
    flex-direction: column;
    /* padding: 16.71px 22.27px 16.71px 22.27px; */
    gap: 5.57px;
    line-height: 1.2em;
}

.frame3 h1 {
    font-size: 30px;


}

.frame3 p {
    line-height: 0.8em;
    justify-content: center;
}

.unlock {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100.23px;
    padding-right: 100.23px;
    padding-top: 40px;
}

.text2 {
    height: 188px;
    width: 460px;
    text-align: center;
}

.text2 h1 {
    font-size: 30px;
    line-height: 0.9em;
}

.text2 p {
    font-size: 20px;
    line-height: 0.9em;
    padding-top: 10px;
}

.achievements {
    height: 500px;
    width: 100%;
    padding: 44.55px 100.23px 44.55px 100.23px;
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto;
}

.side_1 span {
    color: #4CAF4F;
}

.side_1 h1 {
    font-size: 25px;
}

.side_2 {
    height: 113.84px;
    width: 376px;
    display: flex;
    gap: 27.84;
}

.row1 {
    display: flex;
    gap: 20.88px;
    width: 300px;
    height: 43px;
}

.one {
    display: flex;
    gap: 11.4px;
    height: 43px;
    width: 120px;
    line-height: 1em;
}

.two {
    display: flex;
    gap: 11.4px;
    height: 43px;
    width: 120px;
    line-height: 0.8em;
}

.row2 {
    display: flex;
    gap: 20.88px;
    width: 300px;
    height: 43px;
    padding-top: 30px;
}

.three {
    display: flex;
    gap: 11.4px;
    height: 43px;
    width: 120px;
    line-height: 0.8em;
}

.four {
    display: flex;
    gap: 11.4px;
    height: 43px;
    width: 120px;
    line-height: 0.8em;
}

.Learn_btn {
    background-color: #4CAF4F;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 0.9rem;
    margin-top: 30px;
    align-items: center;
    border: none;
    border-radius: 2px;
}

/* footer starts here */

.footer {
    height: 500px;
    width: 100%;
    background-color: #F5F7FA;
    text-align: center;
}

.demo_btn {
    background-color: #4CAF4F;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 0.9rem;
    margin: 20px 60px;
    align-items: center;
    border: none;
    border-radius: 2px;
}

.side_2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-left: 40px;
}

.achievements {
    margin: 0px auto;
}

.footer1 h1 {
    font-size: 20px;
    line-height: 1em;
    margin: 0 auto;
}

.footerfinal {
    background-color: #263238;
    height: 330px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    padding: 40px 40px;

}

.f1 {
    color: #fff;
    width: 400px;
}

.left-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.f2-3 {
    width: 200px;
}

.f2-3 li {
    list-style: none;
    font-size: 15px;
    line-height: 2em;
    color: #F5F7FA;
    font-weight: 300;
    text-align: left;
}

.f2-3 h5 {
    color: #F5F7FA;
    text-align: left;
    font-size: 20px;
}


/* responsive */
@media only screen and (max-width: 992px) and (min-width:750px) {
    .header {
        padding: 1.3rem 5%;
    }

    .hero_section {
        height: 670px;
        width: 100%;
        justify-content: space-around;
    }

    .clients {
        padding-top: 30px;
    }

    .clients img {
        width: 600px;
    }

    .community {
        font-size: 15px;
        align-items: center;
    }

    .frames {
        margin-left: 100.23;
        margin-right: 100.23;
        height: 800px;
    }

    .unlock {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .text2 h1 {
        font-size: 20px;
    }

    .text2 p {
        font-size: 15px;
    }

    .achievements {
        flex-wrap: nowrap;
    }
}


@media only screen and (max-width: 750px) and (min-width: 300px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #4CAF4F;
        box-shadow: 0.5rem 1rem rgb(from color r g b);
        transition: .3 ease;
        overflow: hidden;
    }

    #check:checked~.navbar {
        height: 17.90rem;
    }

    body {
        margin: 0px auto;
    }

    .header {
        padding: 1.3rem 5%;

    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: black;
        font-weight: 700;
    }

    .icons #close-icon {
        display: none;
    }

    .header button {
        background-color: #fff;
        color: #4CAF4F;
        height: 30px;
        width: 100px;
        font-size: 0.9rem;
    }

    .hero_section {
        height: 950px;
        width: 100%;
        margin: 0px auto;
        background-color: #F5F7FA;
        background-size: cover;
    }

    .clients {
        justify-content: center;
        padding-top: 30px;
    }

    .clients img {
        width: 280px;
        height: 80px;
    }

    .community {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        background-color: #fff;
        line-height: 2em;
        font-size: 10px;
    }

    /* .frames{
    justify-content: center;
    flex-direction: column;
} */
    .frames {
        height: 1500px;
    }

    .frame1 {
        font-size: 18px;
    }

    .frame2 {
        font-size: 18px;
    }

    .frame3 {
        font-size: 18px;
    }

    .unlock {
        /* margin-top: 100px; */
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 60px;
    }

    .unlock h1 {
        font-size: 20px;
    }

    .unlock p {
        font-size: 15px;
        width: 100%;
    }

    .achievements {
        flex-wrap: wrap;
        margin: 0px auto;

    }

    .side_1 {
        margin: 0 auto;
    }

    .achievements p {
        font-size: 15px;
        text-align: center;
    }

    .achievements h1 {
        font-size: 23px;
        text-align: center;
        margin: 0 auto;
    }

    .side_2 {
        padding-top: 30px;
        justify-content: center;
        font-size: 30px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .text2 {
        height: 200px;
        margin-bottom: 10px;
    }

    .details {
        font-size: 15px;
        line-height: 0.9em;
    }

    .row1,
    .row2 {
        gap: 15px;
    }

    .Learn_btn {
        width: 100px;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }

    .footerfinal {
        background-color: #263238;
        height: 800px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        justify-content: center;
        padding: 40px 40px;
    }


}